<h2>In the partial _form</h2>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.select :author_id, options_from_collection_for_select(Author.all, "id", "name") %>

  <%= f.submit action_label %>

<% end %>
