<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>

<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.submit %>
<% end %>
