<h1>List of Books</h1>
<%# image_tag "GnomeWizardGuy.gif", alt: "Gnome Wizard Guy", class: "user" %>
<%# link_to image_tag("https://fillmurray.com/300/300", alt: "test image"), "http://www.google.com"  %>
<ul>
<% @books.each do |book| %>
  <li>Title:
        <strong>
          <%= link_to(book.title, book_path(book.id), alt: 'link to', class: "title") %>
          <%= link_to("Edit", edit_book_path(book.id)) %>
          <%= link_to("Delete", delete_book_path(book.id), method: :delete) %>
        </strong>
  </li>
  <li>Author:
    <strong><%= book.author %></strong>
  </li>
<% end %>
</ul>
<p>
  <!-- <% if rand(100) % 2 == 0 %>
    <%= "This is in uppercase!".upcase %>
  <% end %> -->
</p>
