<% if @book %>
  <h1>
    <%= @book.title %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Delete", delete_book_path(@book.id), method: :delete %>

  </h1>
  <h3>
    By:  <%= @book.author.name %>
  </h3>
  <% else %>
    <h1>404:  Not Found</h1>
<% end %>

<%= link_to "Home", books_path %>
